:root {
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-horizonal: 6rem; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #077c0d; }

.checkbox, .hamburger span {
  display: none; }

.hamburger {
  display: block;
  background-color: #5EFF66;
  color: #16801B;
  width: 5.5rem;
  line-height: 5rem;
  padding: 0 2rem;
  cursor: pointer;
  transition: width .5s ease-in-out;
  font-size: 2rem; }

.sidebar {
  background-color: #2B2E33;
  position: fixed;
  width: 25rem;
  height: 90%;
  z-index: 1111;
  transition: transform .5s ease-in-out;
  transform: translateX(-29rem); }
  .sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .sidebar ul a {
      position: relative;
      text-decoration: none;
      display: block;
      background-color: transparent;
      color: #BAB5BD;
      padding: 1.5rem 2rem;
      font-size: 2rem; }
      .sidebar ul a:hover {
        background-color: #161920;
        color: #fff; }
        .sidebar ul a:hover::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: .5rem;
          height: 100%;
          background-color: #5EFF66; }

.fa {
  margin-right: 1.5rem; }

#checkbox:checked ~ .sidebar {
  transform: translateX(0); }

#checkbox:checked + .hamburger {
  width: 25rem;
  padding: 0 2rem; }

#checkbox:checked + .hamburger span {
  display: inline; }

.product {
  width: 30%;
  text-align: center; }
  .product__img {
    width: 100%;
    object-fit: contain; }

.composition {
  width: 40vw; }
  .composition__photo {
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    object-fit: cover;
    transition: all .4s ease-in-out; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__head {
    display: flex;
    align-items: center; }
  .header__title {
    margin-left: 1rem; }
  .header__links {
    font-size: 2rem; }
    .header__links--1:link, .header__links--1:visited {
      position: relative;
      padding: .5rem;
      padding-bottom: 3px;
      color: black; }
    .header__links--1::before {
      background: #5EFF66;
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      transition: .35s;
      left: 0;
      bottom: 0;
      z-index: -1; }
    .header__links--1:hover::before {
      height: 100%; }
    .header__links--2:link, .header__links--2:visited {
      position: relative;
      padding: .5rem;
      padding-bottom: 3px;
      color: black; }
    .header__links--2::before {
      background: #5EFF66;
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      transition: .35s;
      left: 0;
      bottom: 0;
      z-index: -1; }
    .header__links--2:hover::before {
      height: 100%; }

.container {
  margin: 0;
  padding: 0; }

.content__products {
  background-color: #077c0d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0; }

.row {
  height: 85vh;
  width: var(--grid-width);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem auto; }
  .row .col-2 {
    padding: 0 1.5rem; }

.footer {
  color: white;
  background-color: #077c0d;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem; }
  .footer h1 {
    grid-column: 1/-1; }
  .footer > p {
    grid-column: 1/-1;
    text-align: center;
    margin-top: 1.5rem; }
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    position: relative; }
    .footer a p {
      margin-left: 1rem; }
  .footer__socials {
    fill: white;
    height: 2rem;
    width: 2rem; }
  .footer__link--1:hover > svg {
    fill: #4e78ca; }
  .footer__link--1:hover > p {
    color: #4e78ca; }
  .footer__link--2:hover > svg {
    fill: #1ca0f2; }
  .footer__link--2:hover > p {
    color: #1ca0f2; }
  .footer__link--3:hover > svg {
    fill: #FF0000; }
  .footer__link--3:hover > p {
    color: #FF0000; }
  .footer__link--4:hover > svg {
    fill: url(#gradient); }
  .footer__link--4:hover > p {
    background: linear-gradient(to right, #405DE6, #5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.links {
  text-decoration: none; }

.heading-size {
  font-size: 2.5rem; }

.font-size {
  font-size: 1.5rem; }
