:root{
    --grid-width: 114rem;
    --gutter-vertical: 8rem;
    --gutter-horizonal: 6rem;
}

*, *::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem is equal to 10px
}

body{
    
}