.composition{
    width: 40vw;

    @media only screen and (max-width: $bp-medium){
        width: 50vw;
    }

    @media only screen and (max-width: $bp-small){
        width: 80vw;
    }

    &__photo{
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
        object-fit: cover;
    }
}