.checkbox, .hamburger span{
    //Hide the checkbox and "Menu" word in the button
    display: none;
}

.hamburger{
    //Hamburger icon and its background
    display: block;
    background-color: #247D9E;
    color: #fff;
    width: 5.5rem;
    line-height: 5rem;
    padding: 0 2rem;
    cursor: pointer;
    transition: width .5s ease-in-out;
    font-size: 2rem;

    span{
        
    }
}

.sidebar{
    //The whole of the sidebar
    background-color: #2B2E33;
    position: fixed;
    width: 25rem;
    height: 90%;
    z-index: 1111;
    transition: transform .5s ease-in-out;
    transform: translateX(-29rem); //Allows for the sidebar to be hidden

    & ul{
        padding: 0;
        margin: 0;
        list-style-type: none;

        & a{
            //Link Elements
            position: relative;
            text-decoration: none;
            display: block;
            background-color: transparent;
            color: #BAB5BD;
            padding: 1.5rem 2rem;
            font-size: 2rem;

            &:hover{
                background-color: #161920;
                color: #fff;

                &::before{
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: .5rem;
                    height: 100%;
                    background-color: #247D9E;
                }
            }
        }
    }
}

.fa{
    //The Icon element
    margin-right: 1.5rem;
}

#checkbox:checked ~ .sidebar{
    transform: translateX(0);
}

#checkbox:checked + .hamburger{
    width: 25rem;
    padding: 0 2rem;
}

#checkbox:checked + .hamburger span{
    display: inline;
}

.product{
    width: 30%;
    text-align: center;

    &__img{
        width: 100%;
        object-fit: contain;
    }
}