.header{
    //border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__head{
        display: flex;
        align-items: center;
    }

    &__menu{
       
    }

    &__title{
        margin-left: 1rem;
    }

    &__links{
        font-size: 2rem;

        &--1{

            &:link, &:visited{
                position: relative;
                padding: .5rem;
                padding-bottom: 3px;
            }

            &::before{
                background: black;
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                transition: .35s;
                left: 0;
                bottom: 0;
                z-index: -1;  
            }

            &:hover{
                
                &::before{
                    height: 100%;
                }
            }
        }

        &--2{
            
            &:link, &:visited{
                position: relative;
                padding: .5rem;
                padding-bottom: 3px;
            }

            &::before{
                background: black;
                content: '';
                position: absolute;
                width: 100%;
                height: 4px;
                transition: .35s;
                left: 0;
                bottom: 0;
                z-index: -1;  
            }

            &:hover{

                &::before{
                    height: 100%;
                }
            }
        }
    }
}

.content{

    &__products{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 2rem;
    }
}

.row{
    height: 85vh;
    width: var(--grid-width);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem auto;

    .col-1{
        
    }

    .col-2{
        padding: 0 1.5rem;
    }

}

.footer{
    color: white;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;

    h1{
        grid-column: 1/-1;
    }

    & > p{
        grid-column: 1/-1;
        text-align: center;
        margin-top: 1.5rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;

        p{
          margin-left: 1rem;
        }
    }

  &__socials{
      fill: white;
      height: 2rem;
      width: 2rem;

      

      &--1{

      }

      &--2{

      }

      &--3{

      }

      &--4{

      }
  }
}
